body {
  background-color: beige;  
}

.homepage {
background-color: aqua;
}

.about {
    background-color: grey;
}
    
.portfolio {
    background-color: blueviolet;
}
.images {
  height: 200px;
  width: 200px;
  display: block;
}